InventoryManagement/InventoryManagement/Connected Services/InventoryServiceReference/InventoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="InventoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISalesmanService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_ICustomerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IOrderService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Temporary_Listen_addresses/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Temporary_Listen_addresses/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Temporary_Listen_addresses/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceInventory" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISalesmanService_GetSalesman_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSalesman" />
  </wsdl:message>
  <wsdl:message name="ISalesmanService_GetSalesman_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSalesmanResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesmanService_InsertNewSalesman_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewSalesman" />
  </wsdl:message>
  <wsdl:message name="ISalesmanService_InsertNewSalesman_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewSalesmanResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesmanService_UpdateSalesman_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSalesman" />
  </wsdl:message>
  <wsdl:message name="ISalesmanService_UpdateSalesman_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSalesmanResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesmanService_DeleteSalesman_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSalesman" />
  </wsdl:message>
  <wsdl:message name="ISalesmanService_DeleteSalesman_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSalesmanResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_InsertNewCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_InsertNewCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_UpdateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_UpdateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_DeleteCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_DeleteCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_InsertNewOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_InsertNewOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_UpdateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_UpdateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_DeleteOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_DeleteOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="ISalesmanService">
    <wsdl:operation name="GetSalesman">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesmanService/GetSalesman" message="tns:ISalesmanService_GetSalesman_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesmanService/GetSalesmanResponse" message="tns:ISalesmanService_GetSalesman_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertNewSalesman">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesmanService/InsertNewSalesman" message="tns:ISalesmanService_InsertNewSalesman_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesmanService/InsertNewSalesmanResponse" message="tns:ISalesmanService_InsertNewSalesman_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSalesman">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesmanService/UpdateSalesman" message="tns:ISalesmanService_UpdateSalesman_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesmanService/UpdateSalesmanResponse" message="tns:ISalesmanService_UpdateSalesman_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSalesman">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesmanService/DeleteSalesman" message="tns:ISalesmanService_DeleteSalesman_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesmanService/DeleteSalesmanResponse" message="tns:ISalesmanService_DeleteSalesman_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ICustomerService">
    <wsdl:operation name="GetCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetCustomer" message="tns:ICustomerService_GetCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetCustomerResponse" message="tns:ICustomerService_GetCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertNewCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/InsertNewCustomer" message="tns:ICustomerService_InsertNewCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/InsertNewCustomerResponse" message="tns:ICustomerService_InsertNewCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/UpdateCustomer" message="tns:ICustomerService_UpdateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/UpdateCustomerResponse" message="tns:ICustomerService_UpdateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/DeleteCustomer" message="tns:ICustomerService_DeleteCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/DeleteCustomerResponse" message="tns:ICustomerService_DeleteCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IOrderService">
    <wsdl:operation name="GetOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetOrder" message="tns:IOrderService_GetOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetOrderResponse" message="tns:IOrderService_GetOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertNewOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/InsertNewOrder" message="tns:IOrderService_InsertNewOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/InsertNewOrderResponse" message="tns:IOrderService_InsertNewOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/UpdateOrder" message="tns:IOrderService_UpdateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/UpdateOrderResponse" message="tns:IOrderService_UpdateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/DeleteOrder" message="tns:IOrderService_DeleteOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/DeleteOrderResponse" message="tns:IOrderService_DeleteOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISalesmanService" type="tns:ISalesmanService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSalesman">
      <soap:operation soapAction="http://tempuri.org/ISalesmanService/GetSalesman" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewSalesman">
      <soap:operation soapAction="http://tempuri.org/ISalesmanService/InsertNewSalesman" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSalesman">
      <soap:operation soapAction="http://tempuri.org/ISalesmanService/UpdateSalesman" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSalesman">
      <soap:operation soapAction="http://tempuri.org/ISalesmanService/DeleteSalesman" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ISalesmanService" type="tns:ISalesmanService">
    <wsp:PolicyReference URI="#NetTcpBinding_ISalesmanService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetSalesman">
      <soap12:operation soapAction="http://tempuri.org/ISalesmanService/GetSalesman" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewSalesman">
      <soap12:operation soapAction="http://tempuri.org/ISalesmanService/InsertNewSalesman" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSalesman">
      <soap12:operation soapAction="http://tempuri.org/ISalesmanService/UpdateSalesman" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSalesman">
      <soap12:operation soapAction="http://tempuri.org/ISalesmanService/DeleteSalesman" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ICustomerService" type="tns:ICustomerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/InsertNewCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/DeleteCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ICustomerService" type="tns:ICustomerService">
    <wsp:PolicyReference URI="#NetTcpBinding_ICustomerService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetCustomer">
      <soap12:operation soapAction="http://tempuri.org/ICustomerService/GetCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewCustomer">
      <soap12:operation soapAction="http://tempuri.org/ICustomerService/InsertNewCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap12:operation soapAction="http://tempuri.org/ICustomerService/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <soap12:operation soapAction="http://tempuri.org/ICustomerService/DeleteCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IOrderService" type="tns:IOrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/InsertNewOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/UpdateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/DeleteOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IOrderService" type="tns:IOrderService">
    <wsp:PolicyReference URI="#NetTcpBinding_IOrderService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetOrder">
      <soap12:operation soapAction="http://tempuri.org/IOrderService/GetOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewOrder">
      <soap12:operation soapAction="http://tempuri.org/IOrderService/InsertNewOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <soap12:operation soapAction="http://tempuri.org/IOrderService/UpdateOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <soap12:operation soapAction="http://tempuri.org/IOrderService/DeleteOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InventoryService">
    <wsdl:port name="BasicHttpBinding_ISalesmanService" binding="tns:BasicHttpBinding_ISalesmanService">
      <soap:address location="http://localhost/Temporary_Listen_addresses/InventoryService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ISalesmanService" binding="tns:NetTcpBinding_ISalesmanService">
      <soap12:address location="net.tcp://localhost:90/Temporary_Listen_addresses/InventoryService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:90/Temporary_Listen_addresses/InventoryService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>PARTH\parth</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ICustomerService" binding="tns:BasicHttpBinding_ICustomerService">
      <soap:address location="http://localhost/Temporary_Listen_addresses/InventoryService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ICustomerService" binding="tns:NetTcpBinding_ICustomerService">
      <soap12:address location="net.tcp://localhost:90/Temporary_Listen_addresses/InventoryService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:90/Temporary_Listen_addresses/InventoryService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>PARTH\parth</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IOrderService" binding="tns:BasicHttpBinding_IOrderService">
      <soap:address location="http://localhost/Temporary_Listen_addresses/InventoryService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IOrderService" binding="tns:NetTcpBinding_IOrderService">
      <soap12:address location="net.tcp://localhost:90/Temporary_Listen_addresses/InventoryService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:90/Temporary_Listen_addresses/InventoryService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>PARTH\parth</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>